input[type=text],input[type=tel],input[type=number],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid violet;
    border-radius: 4px;
  }
  input[type=text],input[type=tel],input[type=number]:focus{
    background-color:linen;
  }
  input[type=reset],input[type=submit]{
    width: 100%;
    background-color:black;
    color:red;
    padding: 16px 32px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:linen;
  }
  input[type=submit],input[type=reset]{
    width: 100%;
    background-color:black;
    color: red;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;border-radius: 4px;
    cursor: pointer;
    background-color:linen;
  }
  #phone{
    outline:0;
  }
  #phone:valid{
    border-color:green;
  }
  #phone:focus:invalid{
    border-color:red;
  }
  #payment{
    outline-color:0;
  }
  #payment:valid{
    border-color:green;
  }
  #payment:focus:invalid{
    border-color:red;
  }
  #mp{
    background-color:violet;
    color:gold;
    text-align:center;
    }
    .pri{
      background-color:pink;
      color:black;
    }