.container{
    background-image: url("/latest_files/home-top.webp");
    background-size: cover;
    height: 600px;
    position: relative;
    text-align: center;
    color: white;
    font-family:Verdana, sans-serif;
    font-size: 30px;
}
.top-left{
    position: absolute;
    top:50px;
    left:30px;
}
.centered{
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 20px;

}
/* div.gllery{
    color: black;
    float: left;
    width: 180px;
} */

div.gallery img{
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin: 50px;

}
div.gallery{
    display: flex;
    justify-content: space-around;
}
div.gallery-text{
    text-align: center;
    margin-top: 3%;
    font-size: large;
}
div.desc{
    padding: 15px;
    text-align: left;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.content{
    background: linear-gradient(to right,rgb(209, 209, 212) 0%,rgb(209, 209, 212) 50%,rgb(98, 98, 224) 50%,rgb(98, 98, 224) 100%
    );
    min-height: 500px;
    display: flex;
    justify-content: space-around;
}
.heading{
    font-size: 62px;
    line-height: 1.2;
    color: white;
}
.rightside{
    font-size: 30px;
    color: white;
    line-height: 3.2;
    padding-top: 3%;
}
.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


div.round2{
    border: 2px solid rgb(209, 209, 212);
    border-radius: 40px;
    padding: 40px;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    line-height: 170%;
    form.example input[type=button] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid white;
        float: left;
        width: 80%;
        background: #150336;
    }
div.round2 input{
    margin: 2px;
    padding: 20%;
}

    /* form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #053f6e;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }
      form.example button:hover {
        background: #02325a;
    } */
}
div.real{
    text-align: center;
}
div.real2{
    text-align: left;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
div.real2 img{
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin: 50px;
    border-radius: 10%;

}
div.real-content{
    margin: 5%;
}

div.real3{
    text-align: right;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
div.real3 img{
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin: 50px;
    border-radius: 10%;
}


div.real4{
    text-align: left;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    
}
div.real4 img{
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin: 50px;
    border-radius: 10%;
}


div.real5{
    text-align: right;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

div.real5 img{
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin: 50px;
    border-radius: 10%;
}


div.real6{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(242, 245, 246, 0.678);
}

div.real6 h1{
    font-size: 50px;
    line-height: 3; 
}

div.real6 p{
    font-size: 20px;
    line-height: 2; 

}
div.join-us{
    display: flex;
    padding-top: 7%;
    justify-content: space-around;
    width: 70%;
}
.join-us2{
    padding: 20px;
    margin-right: 35%;
}

div.real7{
    text-align: right;
}
div.content1{
    background: linear-gradient(to right,rgb(98, 98, 224) 0,rgb(98, 98, 224) 50%,rgb(15, 3, 3) 50%,rgb(15, 3, 3) 100%
    );
    min-height: 500px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 40px;
}
div.content1 input{
    width: 100%;
    padding: 10px 10px;
    /* box-sizing: border-box; */
    border-radius: 10px;
}
div.content1 button{
    padding: 5px 5px;
    border-radius: 10px;
    background-color: #7a7ab2;
    font-size: larger;
    color: white;
}

.leftside1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.heading{
    font-size: 62px;
    line-height: 1.2;
    color: rgb(243, 235, 235);
    border-bottom: 6px solid rgb(223, 214, 214);
}
.rightside1{
    line-height: 1.2;
    color: rgb(243, 235, 235);
    border-bottom: 6px solid rgb(223, 214, 214);
    padding-top: 500px;
    padding-right: 200px;
    padding: 70px;
    scroll-margin-top: 30px;
    text-align: left;
    font-size: large;
    line-height: 2;
}

.footer-links{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 30px;
    line-height: 40px;
}
.footer-links a{
    color: black;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-around;
}

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #053f6e;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.example button:hover {
    background: #02325a;
}

form{
    padding: 20px;
}
.licence{
    padding: 20px;
}
